@page "/settings";

@using PolaScan.App.Models;
@using System.Globalization
@using System.Text.RegularExpressions
@using static PolaScan.App.Models.Enums;

<div class="wrapper">

    <h3>Settings</h3>
    <div>

        <SettingsItem Label="Destination folder" Slug="@Constants.Settings.DesitnationPath" displayValue=true fieldType=InputType.folder></SettingsItem>
        <SettingsItem Label="Google Timeline - Records.json" Slug="@Constants.Settings.GoogleTimelineFile" displayValue=true fieldType=InputType.file></SettingsItem>

        <h4>Date</h4>
        <SettingsItem Label="Date format" Slug="@Constants.Settings.DateFormat" OptionsDic="@dateFormats" fieldType=InputType.select></SettingsItem>
        <SettingsItem Max=24 Min=1 Label="Assumed hour" Slug="@Constants.Settings.AssumedHour" fieldType=InputType.number></SettingsItem>

        <h4>Metadata</h4>
        <SettingsItem Label="Copyright text" Slug="@Constants.Settings.CopyRightText"  fieldType=InputType.text></SettingsItem>
    </div>

</div>
@code {
    private Dictionary<string, string> dateFormats { get; set; } = new()
    {
        {"en-GB", "dd/MM/yyyy"},
        {"en-US", "MM/dd/yyyy"},
        {"ja-JP", "yyyy/MM/dd"}
    };
}
