@using static PolaScan.App.Models.Enums
@using static PolaScan.App.Shared.InputField

<div class="@GetClass()">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
    <div>
        <span class="settings-item-label"><b>@Label</b></span>        
    </div>
    }
    <div class="settings-item-value">
        <InputField Type="@fieldType" Min="@Min"  Max="@Max" Options="@Options" OptionsDic="@OptionsDic" Value="@GetValue()" Callback="@UpdateSetting" />
    @{
        if (displayValue)
        {
            <i class="settings-item-existing" >@GetValue()</i>
        }
    }
    </div>
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Slug { get; set; }

    [Parameter]
    public int Min{ get; set; }

    [Parameter]
    public int Max { get; set; }

    [Parameter]
    public bool displayValue { get; set; } = false;

    [Parameter]
    public List<string> Options { get; set; }

    [Parameter]
    public Dictionary<string, string> OptionsDic { get; set; }

    [Parameter]
    public InputType fieldType { get; set; }

    string Value { get; set; }

    private string GetValue() => Value ?? Preferences.Default.Get(Slug, "");

    private string UpdateSetting(string value){
        Preferences.Default.Set(Slug, value);
        Value = value;
        StateHasChanged();
        return value;
    }

    private string GetClass() => string.IsNullOrWhiteSpace(Label) ? "settings-item" : "settings-item grid";
}
